/*
 * Color palette
 * #fff - Background
 * #8E3E63 - Maroon accent
 * #D2649A - Pink accent
 * #F6FAB9 - Yellow accent
 * #CAE6B2 - Green accent
 * #282c34 - Text/button background color
*/

.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbar {
  min-height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #282c34;
}

.Navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  color: #282c34;
}
